
	<h1>Mon panier</h1>

<% sum = 0 %>

<% @panier.reservations.each do |res| %>
	<% article = Article.find(res.article_id) %>

	<p>
   		<a href="/articles/<%= article.id %>"><%= article.title %></a> 
		<%= res.quantity %> x <%= article.price%>€ = <%= article.price * res.quantity%> €
		<% sum = sum + article.price * res.quantity %> 
			<%= form_tag("/destroy", method: "get") do %>
	  <%= hidden_field_tag(:article_id, article.id) %>
	  <%= submit_tag("Enlever du panier") %>
	  <%end%>
	</p>


<%end%>

<p>
	Total: <%= sum %> €

</p>
