<% provide(:title, 'About Us') %>
<h1>A propos</h1>
<p>
	Cette page donnera une courte description de l'ENSIIE (ecolde d'ingé, concours post prépa, etc.)
	On parlera également et plus en détail de l'InedItE (loi 1901, etc)
</p>