<div id="corps">
  <div id="admin">
    <% if user_signed_in? %>
      <%if current_user.admin? %>
        
        <h1> Bienvenue sur la page <strong>admin</strong></h1>
        
        <ul>
                    <div class="gestionboutique">
            <div class="linkbutton">
              <h2>Gestion des stocks</h2>
                <li><a href="#">Gestion d'arrivage</a></li><br />
                <li><a href="#">Achat en boutique</a></li><br />
            </div>
          </div>

          <div class="gestionnormal">  
            <div class="linkbutton">
              <li><a href="/gestionArticle">Gestion des articles</a></li><br />
            </div>
            <div class="linkbutton">
              <li><a href="/gestionPanier">Gestion des réservations</a></li><br />
            </div>
            <div class="linkbutton">
              <li><a href ="/gestionUser">Gestion des clients</a></li><br />
            </div>
          </div>

        </ul>

      <%end%>
    <%end%>
  </div>
</div>