<% if user_signed_in? %>
<%if current_user.admin? %>

<h1> Bienvenue sur la page admin</h1>
<div class="row">
<div class="articles span5">

	<h2>Gestion des articles</h2>
  <li><a href="/gestionArticle">Gestion des articles</a></li>

	</div>

<div class="reservations span5 offset1">
	<h2>Gestion des reservations</h2>
		<ul class="nav nav-tabs nav-stacked">
              <li><a href="#">Validation</a></li>
              <li><a href="#">Supression</a></li>
            </ul>
	</div>

</div>
<div class="row">

<div class="stock span5">
	<h2>Gestion des stocks</h2>
			<ul class="nav nav-tabs nav-stacked">
              <li><a href="#">Gestion d'arrivage</a></li>
              <li><a href="#">Achat en boutique</a></li>
            </ul>
	</div>

<div class="utilisateurs span5 offset1">
	<h2>Gestion des utilisateurs</h2>
				<ul class="nav nav-tabs nav-stacked">
              <li><a href="#">Supression</a></li>
              <li><a href="#">Liste des utilisateurs</a></li>
            </ul>
	</div>

</div>

<%end%>

<%end%>
