
<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Des questions ? Des informations ?</p>
<p>N'hésitez pas à envoyer un mail à <a href="mailto:">inedite@listes.iiens.net</a></p>
</br>

<h2>FAQ</h2>

<p><strong>Quand reçois-je mes articles ?</strong></p>
<p>Nous envoyons les articles dans la journée de la commande, le colis est envoyé par la poste et devrait être reçu entre 3 et 4 jours ouvrables après votre commande. Pour tout retard, envoyez nous un mail.</p>
<p>Nous envoyons les articles dans la journée de la commande, le colis est envoyé par la poste et devrait être reçu entre 3 et 4 jours ouvrables après votre commande. Pour tout retard, envoyez nous un mail.</p>