html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, em, img, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
@font-face {
    font-family: 'FontleroyBrown';
    src: url('../fonts/FontleroyBrown.ttf');
}
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  clear: both;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  background-color: #F0F8FF;
  background-size: auto auto;
}
#page
{
  margin: 0 auto;
  display: block;
  position: relative;
  min-height: 100%;
  text-align: justify;
  background-size: 100% 100%;
}
#grossepage{
  position: relative;
  top: 0;
  width: 900px;
  padding: 0 0 50px 0;
  min-height: 100%;
  margin: 0 0 0 250px;
}
#corps
{
  position: relative;
  top: 0;
  width: 100%;
  margin-top: 50px;
  padding: 20px 50px 20px 50px;
  min-height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 25px #C0C0C0; 
}

#footer
{
  background-image: url("fond2.png");
  position: absolute;
  margin-top: 0;
  bottom: 0; left: 0;
  width: 100%;
  box-shadow: 0px -3px 5px #C0C0C0; 
}
#banniere
{
  position: relative;
  margin: 0 auto;
}
#dernier-element{
  margin: 0;
  padding-bottom: 4em;
}
.flash{
  background-color: green;
  opacity: 0.3;
  text-align: center;
}
.flash .strong{
  color: black;
  opacity: 1;
}