html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, em, img, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
@font-face {
    font-family: 'FontleroyBrown';
    src: url('../fonts/FontleroyBrown.ttf');
}
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  clear: both;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
#page
{
  margin: 0 auto;
  display: block;
  position: relative;
  min-height: 100%;
  text-align: justify;
  background-image: url("fond-site3.png");
  background-size: 100% 100%;
}
#corps
{
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  width: 600px; 
}
#body {
  display: inline-block;
  float: left;
}
#footer
{
  background-image: url("fond2.png");
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  box-shadow: 0px -3px 5px #C0C0C0; 
}
#banniere
{
  padding-bottom: 50px;
  margin: 0 auto;
}

