html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, em, img, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
.titre_categorie{
	font-size: 30px;
  	font-weight: bold;
  	color: #696969;
  	text-shadow: 2px 2px 2px #C0C0C0;
  	text-align: center;
    padding-top: 50px;
  	padding-bottom: 50px;
}
.vignette{
	margin-bottom: 30px;
	border-bottom: dotted 1px;
}
.vignette .image-vignette{
	float: left;
}
.vignette h3 a{
	text-decoration: none;
}
.vignette h3 a:hover{
	font-style: italic;
}
.vignette #transition-vignette{
	clear: both;
}
