html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, em, img, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
#monpanier{

}
#monpanier h1{
	text-align: justify;
	text-align: center;
}
table {
	width: 100%;
	margin: 0 0 1em 0;
}
table, tr, th, td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
table tr{
	border: solid 1px #778899;
}
table th{
	background-color: #DC143C;
	text-align: center;
}
table td{
	padding-bottom: 10px;
	border-right: dotted 1px #778899;
	padding-left: 50px;
}
.total{
	margin-top: 50px;
}