html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, em, img, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
#monpanier h1{
	text-align: justify;
	text-align: center;
}
table {
	width: 100%;
	margin: 0 0 1em 0;
	font-size: 15px;
}
table, tr, th, td {
	border-spacing: 0;
	border-collapse: collapse;
}
table th{
	background-color: #D21603;
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 0 black;
	padding: 10px 0 10px 0;
}
table td{
	border: solid 1px #C0C0C0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
table th.first{
	border-radius: 8px 0 0 0; 
}
table th.last{
	border-radius: 0 8px 0 0;
}
#corps #monpanier .total{
	margin-top: 50px;
}
.image{
	float: left;
	padding-left: 15px;
}
.titre a{
 	font-weight: bold;
  	color: #696969;
	text-decoration: none;
	padding-left: 25px;
}
.numberglobal input{
    display: inline-block;
    width: 50px;
    padding: 2px 2px;
    color: #696969;
    background-color: #F8F8FF;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid  #A9A9A9;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s  linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s  linear;
    transition: all 0.4s  linear;
    margin-bottom: 0;
}
.numberedit input{
	width: 100px;
}
.numberedit input:hover {
    color: #FFA07A;
    background: #FAF0E6;
    border: 1px solid #FFA07A;
}