<div class="span3">
		<ul class="nav nav-list">
                <li class="nav-header">Catégories</li>
                <li><a href="#">Vetements</a></li>
                <li><a href="#">Boissons</a></li>
                <li><a href="#">Informatique</a></li>
                <li><a href="#">Bod'our</a></li>
                <li><a href="#">Settings</a></li>
              </ul>
</div>